<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Edit your comment!</h1>
  <form 
    action="/discussions/<%= discussion._id %>/replies/<%= replies._id %>?_method=PUT"
    method="POST"
  >
    <div id="editReply-comment"></div>  
    <label>
      Content: 
      <textarea
        cols="30"
        rows="5"
        name="comment" 
        autocomplete="off"
      ><%= replies.comment %></textarea>
    </label>
    </div>
    <div id="editReply-isDoctor">  
      <label>
        <input type="checkbox" name="isDoctor" value="true" <%= replies.isDoctor ? 'checked' : '' %> />
        I am a medical professional
      </label>
    </div> 
    <button type="submit">Save Changes</button>
  </form>
</section>


<%- include('../partials/footer') %>