<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Have Some Updates on Your Health Discussion?</h1>
  <form action="/discussions/<%= discussion._id %>?_method=PUT" method="POST">
    <div id="update-health-concern">
      <label>
        Health Concern: 
        <input 
          type="text"
          name="topic" 
          value="<%= discussion.topic %>" 
          autocomplete="off"
        >
      </label>
      <label>
        Content: 
        <textarea 
          name="content" 
          autocomplete="off"
        ><%= discussion.content %></textarea>
      </label>
      <label>
        Symptoms: 
        <div class="symptom-list">
        <% symptoms.forEach(symptom => { %>
          <div class="checkbox-wrapper-55">
            <label class="rocker rocker-small" for="symptom-<%= symptom._id %>">
              <input type="checkbox" name="symptoms" id="symptom-<%= symptom._id %>" value="<%= symptom._id %>">
              <input type="checkbox" name="symptoms" value="<%= symptom._id %>"
              <% if(discussion.symptoms.some(symptom => symptom._id.equals(symptom._id))) %>>
              <span class="switch-left">Yes</span>
              <span class="switch-right">No</span>
            </label>
            <label for="symptom-<%= symptom._id %>"><%= symptom.name %></label>
          </div>
        <% }) %>
      </label>
      <button class="add-comment" type="submit">Save Changes</button>
    </div>
  </form>
</section>


<%- include('../partials/footer') %>