<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Have Some Updates on Your Health Discussion?</h1>
  <form action="/discussions/<%= discussion._id %>?_method=PUT" method="POST">
    <div id="update-health-concern">
      <label>
        Health Concern: 
        <input 
          type="text"
          name="topic" 
          value="<%= discussion.topic %>" 
          autocomplete="off"
        >
      </label>
      <label>
        Content: 
        <textarea 
          name="content" 
          autocomplete="off"
        ><%= discussion.content %></textarea>
      </label>
      <label>
        Symptoms: 
        <% symptoms.forEach(symptom => { %>
          <div>
            <input type="checkbox" name="symptoms" value="<%= symptom._id %>"
            <% if(discussion.symptoms.some(symptom => symptom._id.equals(symptom._id))) %>
            >
            <label for="symptom-<%= symptom._id %>"><%= symptom.name %></label>
          </div>
        <% }) %>
      </label>
    </div>
    <button type="submit">Save Changes</button>
  </form>
</section>


<%- include('../partials/footer') %>