<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Edit your comment!</h1>
  <form 
    action="/discussions/<%= discussion._id %>/replies/<%= replies._id %>?_method=PUT"
    method="POST"
  >
    <div id="editReply-comment"> 
      <label>
        Content: 
        <textarea
          cols="30"
          rows="5"
          name="comment" 
          autocomplete="off"
        ><%= replies.comment %></textarea>
      </label>
    </div> 
    <div class="checkbox-wrapper-55">
      <label class="rocker rocker-small" for="isDoctorCheckbox">
        <input type="checkbox" name="isDoctor" id="isDoctorCheckbox" value="true" <%= replies.isDoctor ? 'checked' : '' %> />
        <span class="switch-left">Yes</span>
        <span class="switch-right">No</span>
      </label>
      <label for="isDoctorCheckbox">Are you a medical professional?</label>
    </div> 
    <button type="submit">Save Changes</button>
  </form>
</section>


<%- include('../partials/footer') %>