<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Have Some Updates on Your Discussion?</h1>
  <form action="/discussions/<%= discussion._id %>?_method=PUT" method="POST">
    <label>
      Health Concern: 
      <input 
        type="text"
        name="topic" 
        value="<%= discussion.topic %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Content: 
      <input 
        type="text"
        name="topic" 
        value="<%= discussion.content %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Symptoms: 
      <input 
        type="text"
        name="topic" 
        value="<%= discussion.symptom %>" 
        autocomplete="off"
      >
    </label>
    <button type="submit">Finished Editing?</button>
  </form>
</section>

<%- include('../partials/footer') %>