<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit your comment!</h1>
  <form 
    action="/discussions/<%= discussion._id %>/replies/<%= reply._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Content: 
      <textarea
        cols="30"
        rows="5" 
        type="text"
        name="content" 
        autocomplete="off"
      ><%= reply.content %></textarea>
    </label>
    <label> Is a doctor?</label>
    <button type="submit">Update Comment</button>
  </form>
</section>

<%- include('../partials/footer') %>