<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h2>Open Discussions Below!</h2>
  <h3>Check them out and see if you can help out someone!</h3>
  <ul>
    <% discussions.forEach(discussion => { %>
      <li> 
        <a href="/discussions/<%= discussion._id %>"><%= discussion.topic %></a> with symptom(s) <%= discussion.symptom %>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
