<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/index.css">
<%- include('../partials/nav') %>
<%- include('../partials/header') %> 

<section>
  <h2>Open Discussions Below!</h2>
  <h3>Check them out and see if you can help out someone!</h3>
  <ul>
    <% discussions.forEach(discussion => { %>
      <li> 
        <a href="/discussions/<%= discussion._id %>">DISCUSSION POST:</a> 
        <span class="ejs-post"><%= discussion.topic %> with symptom(s): <%= discussion.symptoms.name %></span>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
