<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/new.css">
<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
    <h1>Add a Discussion!</h1>
    <form action="/discussions" method="POST">
      <label>
        <h3>Health Concern:</h3> 
        <input type="text" name="topic" autocomplete="off">
      </label>
      <label>
        <h3>Tell Us More: </h3>
        <textarea name="content" autocomplete="off"></textarea>
      </label>
      <h3>Symptoms:</h3>
      <div class="symptom-list">
        <% symptoms.forEach(symptom => { %>
          <div class="checkbox-wrapper-55">
            <label class="rocker rocker-small">
              <input type="checkbox" name="symptoms" id="symptom-<%= symptom._id %>" value="<%= symptom._id %>">
              <span class="switch-left">Yes</span>
              <span class="switch-right">No</span>
            </label>
            <label for="symptom-<%= symptom._id %>"><%= symptom.name %></label>
          </div>
        <% }) %>
        <button class="add-comment" type="submit"> Add Discussion</button>
      </div>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>