<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/discussions/show.css">
<%- include('../partials/nav') %>

<section>
  <img src="<%= discussion.author.avatar %> " alt="a picture of the discussion post's author">
  <p class="discussion-author">Discussion Posted by <span class="ejs-comment"><%= discussion.author.name %></span></p>
  <h1 class="discussion-text">Health Concern: <span class="ejs-comment"><%= discussion.topic %></span></h1>
  <h1 class="discussion-text">Comments about the Health Concern: <span class="ejs-comment"><%= discussion.content %></span></h1>
  <h1 class="discussion-text">My symptoms are:</h1> 
  <ul>
    <% discussion.symptoms.forEach(symptom => { %>
      <li> <%= symptom.name %></li>
    <% }) %>
  </ul>
  <% if (discussion.author.equals(user?.profile._id)) { %>
    <div class="btn-container">
      <form class="discussion-show" action="/discussions/<%= discussion._id %>/edit">
        <button class="btn">Edit this Discussion</button>
      </form>
      <form class="discussion-show" action="/discussions/<%= discussion._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete this Discussion</button>
      </form>
    </div>
  <% } %>
  <h1>Comments:</h1>
  <ul>
    <% discussion.replies?.forEach(reply => { %>
      <li> 
        <form action="discussions/<%= discussion._id %>/replies/<%= reply._id %>"> 
          <span class="ejs-reply"> 
            <%= reply.comment %> - 
            <%= reply.isDoctor ? 'Medical Professional' : 'Non-Medical Professional' %> | <%=  reply.author.name %>  
          </span>
        </form>
        <% if (reply.author?._id.equals(user?.profile._id)) { %>
          <div class="btn-container">
            <form action="/discussions/<%= discussion._id %>/replies/<%= reply._id %>/edit">
              <button class="btn" type="submit">Edit Comment</button>
            </form>
            <form action="/discussions/<%= discussion._id %>/replies/<%= reply._id %>?_method=DELETE" method="POST" class="inline">
              <button class="btn" type="submit">Delete Comment</button>
            </form>
          </div>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <h1>Add a Comment:</h1>
  <% if (user) { %>
    <form action="/discussions/<%= discussion._id %>/replies" method="POST">
      <textarea class="comment" name="comment"></textarea><br>
      <div class="checkbox-wrapper-55">
        <div class="switch-text">
          <label class="rocker rocker-small" for="isDoctorCheckbox">
            <input type="checkbox" name="isDoctor" id="isDoctorCheckbox" value="true" <%= user.isDoctor ? 'checked' : '' %>>
            <span class="switch-left">Yes</span>
            <span class="switch-right">No</span>
          </label>
        <label for="isDoctorCheckbox"><span class="reply-question"> Are you a medical professional? </span></label>
      </div> 
    </div>
      <button>Add Comment</button>
    </form>
  <% } else { %>
    <p>You need to log in to add a comment.</p>
  <% } %>
</section>


<%- include('../partials/footer') %>

