<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <img src="<%= discussion.avatar %>" alt="a picture of the discussion post's author">
  <p>Discussion Posted by <%= discussion.author.name %></p>
  <h1>Health Concern: <%= discussion.topic %></h1>
  <h2>Comments about the Health Concern: <%= discussion.content %></h2>
  <h2>My symptoms are: <%= discussion.symptom %></h2>
  <% if (discussion.author.equals(user?.profile._id)) { %>
    <a href="/discussions/<%= discussion._id %>/edit">
      <button class="btn">Edit this Discussion</button>
    </a>
    <form action="/discussions/<%= discussion._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">
        Delete this Discussion
      </button>
    </form>
  <% } %>
  <h2>Comments:</h2>
  <ul>
    <% discussion.replies?.forEach(reply => { %>
      <li> 
        <a href="discussions/<%= discussion._id %>/replies/<%= reply._id %>"><%= reply.comment %></a> - 
        <%= reply.isDoctor ? 'Medical Professional' : 'Non-Medical Professional' %>
      </li>
    <% }) %>
  </ul>
  

</section>

<%- include('../partials/footer') %>
