<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Symptom/h1>
  <form action="/symptoms/<%= symptom._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= symptom.name %>" 
        autocomplete="off"
      >
    </label>
    <button type="submit">Save Changes</button>
  </form>
</section>

<%- include('../partials/footer') %>