<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/symptoms/index.css">
<%- include('../partials/nav') %>

<section>
  <h1>All Symptoms:</h1>
  <ul>
    <% symptoms.forEach(symptom => { %>
      <li>   
        <a href="/symptoms/<%= symptom._id %>"><%= symptom.name %></a> 
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>