<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h2>All Symptoms</h2>
  <ul>
    <% symptoms.forEach(symptom => { %>
      <li>   
      <a href="/symptoms/<%= symptom._id %>"><%= symptom.name %></a> 
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>