<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/symptoms/show.css">
<%- include('../partials/nav') %>

<section>
  <h1>Symptom Page for: <%= symptom.name %></h1>
  <% if (symptom.author.equals(user?.profile._id)) { %>
    <div class="btn-container"> 
      <form action="/symptoms/<%= symptom._id %>/edit">
        <button class="btn">Edit Symptom</button>
      </form>
      <form action="/symptoms/<%= symptom._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete Symptom</button>
      </form>
    </div>
  <% } %>
</section>

<%- include('../partials/footer') %>