<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the kitchen of <%= symptom.author.name %>...</p>
  <h1><%= symptom.name %></h1>
</section>

<%- include('../partials/footer') %>